@using PrasvnaBazaKlijent.Models;

@{
    ViewData["Title"] = "Index";
    Propis propis = (Propis)ViewBag.Propis;
    List<Podnaslov> podnaslovi = (List<Podnaslov>)ViewBag.Podnaslovi;

    List<Clan> clanovi = (List<Clan>)ViewBag.Clanovi;
    List<Stav> stavovi = (List<Stav>)ViewBag.Stavovi;
    List<Tacka> tacke = (List<Tacka>)ViewBag.Tacke;
    List<Alineja> alineje = (List<Alineja>)ViewBag.Alineje;
    List<PropisSluzbenoMisljenje> vezeSluzbenoMisljenje = (List<PropisSluzbenoMisljenje>)ViewBag.VezeSluzbenoMisljenje;
    List<int> idStavovaPSM = (List<int>)ViewBag.IdStavovaDis;
    List<SluzbenoMisljenje> sluzbenaMisljenja = (List<SluzbenoMisljenje>)ViewBag.SluzbenaMisljenja;
    int duzinaIdStavosaPsm = idStavovaPSM.Count;

    List<PropisInAkta> vezePropisInAkta = ViewBag.VezeInAkta;
    List<InAkta> inAkta = ViewBag.InAkta;
    List<int?> inAktaStavoviDis = ViewBag.InAktaStavoviDis;

    List<PropisSudskaPraksa> vezeSudskaPraksa = ViewBag.VezeSudskaPraksa;
    List<SudskaPraksa> sudskaPraksa = ViewBag.SudskaPraksa;
    List<int> sudskaPraksaStavoviDis = ViewBag.SPStavoviDis;
    bool isAdded = false;
    List<PdfFajlPropis> pdfFajlovi = ViewBag.PdfFajlovi;

}

<style>
    /*  .content-wrapper {
        background-image: url("/slike/Naslovna.png")!important;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 1800px;
        max-height: 1800px;
        min-height: 888px;
    }*/
    .glavnopolje {
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
        width: 90%;
    }


    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        margin-left: 10px;
        margin-top: 5px;
        outline: none;
        scroll-behavior: smooth;
        vertical-align: baseline;
    }

    .MsoNormal span {
        display: inline;
    }
</style>

<style type="text/css">


    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    body {
        min-height: 100vh;
    }

    div.scroll {
        width: 70%;
        float: left;
        padding-right: 15px;
        height: 1080px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
    }


    li p {
        margin: 0cm 0cm 0cm;
    }



    .fa-print:before {
        margin-right: 10px;
    }

    .fa-save:before {
        margin-right: 10px;
    }

    .fa-fingerprint:before {
        margin-right: 10px;
    }



    .moja ul li {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 7px 0;
    }

    select {
        outline: none;
        width: 100px;
    }
</style>

<style>
    html {
        scroll-behavior: smooth;
    }

    .gotopbtn {
        position: fixed;
        width: 50px;
        height: 50px;
        opacity: 30;
        background: white;
        bottom: 40px;
        left: 300px;
        border-radius: 35px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        color: black;
        font-size: 22px;
    }

    .sidebarmoj {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #565682;
        overflow-x: hidden;
        padding-top: 65px;
        z-index: 1;
    }
        /* Style sidebar links */
        .sidebarmoj a {
            padding: 6px 4px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
        }
            /* Style links on mouse-over */
            .sidebarmoj a:hover {
                color: #f1f1f1;
            }
    /* Style the main content */
    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        padding: 0px 10px;
    }

    #myDIV {
        width: 20%;
        height: 90vh;
        float: right;
        list-style: none;
        padding: 10px;
        border-radius: 5px;
        top: 73px;
        display: none;
        position: fixed;
        box-shadow: 0 1px 4px 0;
        right: 30px;
        overflow: scroll;
    }

        #myDIV li {
            list-style: none;
            font-family: InfluBG;
            text-transform: capitalize;
            padding-right: 20px;
        }

    #myDIV1 {
        width: 20%;
        height: 90vh;
        float: right;
        list-style: none;
        padding: 10px;
        border-radius: 5px;
        top: 73px;
        display: none;
        position: fixed;
        box-shadow: 0 1px 4px 0;
        right: 30px;
        overflow: scroll;
    }

        #myDIV1 li {
            list-style: none;
            font-family: InfluBG;
            text-transform: capitalize;
            padding-right: 20px;
        }

    #myDIV2 {
        width: 20%;
        height: 90vh;
        float: right;
        list-style: none;
        padding: 10px;
        border-radius: 5px;
        top: 73px;
        display: none;
        position: fixed;
        box-shadow: 0 1px 4px 0;
        right: 30px;
        overflow: scroll;
    }

        #myDIV2 li {
            list-style: none;
            font-family: InfluBG;
            text-transform: capitalize;
            padding-right: 20px;
        }

            #myDIV2 li p {
                list-style: none;
                font-family: InfluBG !important;
                text-transform: initial !important;
                font-weight: 100;
                text-align: left !important;
                padding-right: 20px;
                font-style: normal !important;
            }

            #myDIV2 li span {
                list-style: none;
                font-family: InfluBG !important;
                text-transform: initial !important;
                font-weight: 100;
                text-align: left !important;
                padding-right: 20px;
                font-style: normal !important;
            }

    option {
        width: 250px;
    }
</style>

<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function myFunction() {
        var x = document.getElementById("myDIV");
        var z = document.getElementById("glavnopolje");
        if (x.style.display === "block") {
            x.style.display = "none";
            z.setAttribute('style', 'width:90%');


        } else {
            x.style.display = "block";
            z.setAttribute('style', 'width:70%');
            document.getElementById('myDIV1').style.display = "none";
            document.getElementById('myDIV2').style.display = "none";
            document.getElementById('myDIV3').style.display = "none";
            //documnent.getElementById('glavnopolje'.style.display=)
        }
    }
    function myFunction2() {
        var x = document.getElementById("myDIV2");
        var z = document.getElementById("glavnopolje");
        if (x.style.display === "block") {
            x.style.display = "none";
            z.setAttribute('style', 'width:90%');
        } else {
            x.style.display = "block";
            z.setAttribute('style', 'width:70%');
            document.getElementById('myDIV1').style.display = "none";
            document.getElementById('myDIV').style.display = "none";
            document.getElementById('myDIV3').style.display = "none";
        }
    }
    function myFunction3() {
        var x = document.getElementById("myDIV3");
        if (x.style.display === "block") {
            x.style.display = "none";

        } else {
            x.style.display = "block";
            document.getElementById('myDIV1').style.display = "none";
            document.getElementById('myDIV2').style.display = "none";
            document.getElementById('myDIV').style.display = "none";
        }
    }
    var e = document.querySelectorAll('option')
    e.forEach(x => {
        if (x.textContent.length > 20)
            x.textContent = x.textContent.substring(0, 20) + '...';
    })


    $(document).ready(function () {

    //alert("test-IN");

    if (@sluzbenaMisljenja.Count == 0)
    {
        //document.getElementById("poljesluzbenamisljenja").style.display = "none";
        //document.getElementById("tekstPropisa").style.width = "100%";
    }
    });

    function funPrikaziLinkoveSluzbenihMisljenja(clanid, stavid, tackaid ) {

        funObrisiLinkoveSluzbenihMisljenja();

        var cllasstring = ".smlinkclan_" + clanid + "stav_" + stavid;

        $(cllasstring).each(function () {
            this.style.visibility = "visible";
            this.style.display = "inline";
        });
    }


    function funPrikaziLinkoveInAkta(clanid, stavid, tackaid) {

        funObrisiLinkoveSluzbenihMisljenja();

        var cllasstring = ".ialinkclan_" + clanid + "stav_" + stavid;

        $(cllasstring).each(function () {
            this.style.visibility = "visible";
            this.style.display = "inline";
        });
    }

    function funPrikaziLinkoveSudskaPraksa(clanid, stavid, tackaid) {

        funObrisiLinkoveSluzbenihMisljenja();

        var cllasstring = ".splinkclan_" + clanid + "stav_" + stavid;

        $(cllasstring).each(function () {
            this.style.visibility = "visible";
            this.style.display = "inline";
        });
    }


    function funObrisiLinkoveSluzbenihMisljenja() {
        $("#zaglavljesluzbenihmisljenja").find("p").css({ "visibility": "collapse", "display": "none" });
    }


    function funShowTextSluzbenoMisljenje(id) {

        funCloseOpenedText();

        //otvara detalje gore
        var divId = "sluzbenomisljenje_" + id;
        document.getElementById(divId).style.visibility = "visible";
        document.getElementById(divId).style.display = "inline";
    }


    function funShowTextInAkta(id) {

        funCloseOpenedText();

        //otvara detalje gore
        var divId = "inakta_" + id;
        document.getElementById(divId).style.visibility = "visible";
        document.getElementById(divId).style.display = "inline";
    }


    function funShowTextSudskaPraksa(id) {

        funCloseOpenedText();

        //otvara detalje gore
        var divId = "sudskapraksa_" + id;
        document.getElementById(divId).style.visibility = "visible";
        document.getElementById(divId).style.display = "inline";
    }

    function print() {
        window.print();
    }

    function funCloseOpenedText() {

        $("#selecteddocumenttextcontainer").find("div").css({ "visibility": "collapse", "display": "none" });
    }
</script>

<section>
    <div class="sidebarmoj">
        <a onclick="myFunction()" href="#home"><i class="far fa-lightbulb" style="padding-left: 4px; color: white;" aria-hidden="true"></i></a>
        @*<a onclick="myFunction1()" href="#home"><i class="fa fa-link" style="color: white;" aria-hidden="true"></i></a>*@
        <a onclick="myFunction2()" href="#home"><i class="fas fa-align-right" style="color: white;" aria-hidden="true"></i></a>
        <a onclick="myFunction3()" href="~/TekstPropisa/StampajPropis/@propis.Id"><i class="fa fa-print" style="color: white;" aria-hidden="true"></i></a>
    </div>

    <div class="glavnopolje" id="glavnopolje">
        <div class="glavnopolje" id="selecteddocumenttextcontainer" style="height:100%;">
            @foreach (SluzbenoMisljenje sm in sluzbenaMisljenja)
            {
            <div id="sluzbenomisljenje_@sm.Id" style="height:100%;  background-color:Gainsboro; visibility: hidden; display: none;">
                <span id="close" onclick="funCloseOpenedText()" style="float: right; cursor: pointer;">X</span><br />
                <a id="printButton" onclick="print()" href="~/SluzbenaMisljenja/Stampaj/@sm.Id" style="float: right; cursor: pointer;">Одштампај</a>
                <br />
                @Html.Raw(@sm.Tekst)
            </div>
            }

            @foreach (InAkta ia in inAkta)
            {
        <div id="inakta_@ia.Id" style="height:100%;  background-color:Gainsboro; visibility: hidden; display: none;">
            <span id="close" onclick="funCloseOpenedText()" style="float: right; cursor: pointer;">X</span><br />
            <a id="printButton" onclick="print()" href="~/InAkta/Stampaj/@ia.Id" style="float: right; cursor: pointer;">Одштампај</a>
            <br />
            @Html.Raw(@ia.Tekst)
        </div>
            }

            @foreach (SudskaPraksa sp in sudskaPraksa)
            {
        <div id="sudskapraksa_@sp.Id" style="height:100%;  background-color:Gainsboro; visibility: hidden; display: none;">
            <span id="close" onclick="funCloseOpenedText()" style="float: right; cursor: pointer;">X</span><br />
            <a id="printButton" onclick="print()" href="~/SudskaPraksa/Stampaj/@sp.Id" style="float: right; cursor: pointer;">Одштампај</a>
            <br />
            @Html.Raw(@sp.Tekst)
        </div>
            }
        </div>

        <div id="tekstPropisa" class="scroll">

            <a class="gotopbtn" href="#"> <i class="fas fa-arrow-up"></i> </a>
            <p>
                <a style="float:left" href="~/Propis/Index/@propis.IdPodrubrike">Врати се подрубрику којој пропис припада</a>
                <a style="float:right">За претрагу текста користити: CTRL+F</a>
            </p>

            <h1 style="width:100%; margin: 0 auto; text-align: center;"> @propis.Naslov</h1>
            <br />
            <br />
            <h4 style=" justify-content:center; text-align: center;"> @propis.GlasiloIdatumObjavljivanja</h4>

            @foreach (Podnaslov podnaslov in podnaslovi)
            {
            <span id="@podnaslov.Id"></span>
            @Html.Raw(podnaslov.PodnaslovTekst)
            @foreach (Clan clan in clanovi)
                {
                    if (clan.IdPodnaslov == podnaslov.Id)
                    {
            <p style="text-align: center; text-indent: 24pt; line-height: normal; background: white; font-size: 13pt; font-family: Calibri, sans-serif;">
                <span style="font-size: 9.0pt; font-family: Verdana, sans-serif; color: #333333;">
                    @Html.Raw(clan.Naziv)
                </span><br />
            </p>

            @foreach (Stav stav in stavovi)
                        {
                            if (stav.IdClan == clan.Id)
                            {
                                #region oldCode
                                /*
                                <table>
                                    <tr>
                                        <td>
                                            <span id="@stav.Id"> @Html.Raw(stav.Tekst)</span>
                                        </td>
                                        @*@for (int i = 0; i < duzinaIdStavosaPsm; i++)
                                            {*@
                                        @if (idStavovaPSM.Contains(stav.Id) || inAktaStavoviDis.Contains(stav.Id) || sudskaPraksaStavoviDis.Contains(stav.Id))
                                        {
                                            <td>
                                                <select name="select" onchange="location = this.value;" id="selectid" style=" width:25px; border: none; border-radius: 8px; padding: 4px 0 4px 24px; background-image: url('https://i.postimg.cc/85XYjhvD/oi-logo.png'); background-repeat: no-repeat;">

                                                    <option>
                                                    </option>
                                                    @if (idStavovaPSM != null)
                                                    {
                                                        <optgroup label="Службена Мишљења Мишљења">
                                                            @foreach (PropisSluzbenoMisljenje psm in vezeSluzbenoMisljenje)
                                                            {
                                                                @if (psm.IdStav == stav.Id)
                                                                {

                                                                    @foreach (SluzbenoMisljenje sm in sluzbenaMisljenja)
                                                                    {
                                                                        if (sm.Id == psm.IdSluzbenoMisljenje)
                                                                        {


                                                                            <option class="short" data-limit="37" value="/./TekstPropisa/VezaPropisSm/@propis.Id/@sm.Id/#@psm.IdStav"> @sm.Naslov</option>



                                                                        }
                                                                    }

                                                                }
                                                            }
                                                        </optgroup>
                                                    }

                                                    @if (inAktaStavoviDis != null)
                                                    {
                                                        <optgroup label="ИнАкта">
                                                            @foreach (PropisInAkta propisInAkta in vezePropisInAkta)
                                                            {
                                                                @if (propisInAkta.IdStav == stav.Id)
                                                                {
                                                                    @foreach (InAkta ina in inAkta)
                                                                    {
                                                                        @if (ina.Id == propisInAkta.IdInAkta)
                                                                        {
                                                                            <option value="/./TekstPropisa/VezaPropisInAkta/@propis.Id/@ina.Id/#@propisInAkta.IdStav"> @ina.Naslov</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </optgroup>
                                                    }
                                                    @if (sudskaPraksaStavoviDis != null)
                                                    {
                                                        <optgroup label="Судска пракса">
                                                            @foreach (PropisSudskaPraksa psp in vezeSudskaPraksa)
                                                            {
                                                                @if (psp.IdStav == stav.Id)
                                                                {
                                                                    @foreach (SudskaPraksa sp in sudskaPraksa)
                                                                    {
                                                                        @if (sp.Id == psp.IdSudskaPraksa)
                                                                        {
                                                                            <option value="/./TekstPropisa/VezaPropisSP/@propis.Id/@sp.Id/#@psp.IdStav"> @sp.Naslov</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </optgroup>
                                                    }

                                                </select>
                                            </td>
                                        }
                                    </tr>
                                </table>
                                */
                                #endregion

            <table>
                <tr>
                    <td>
                        <span id="@stav.Id"> @Html.Raw(stav.Tekst)</span>
                    </td>


                    @if (idStavovaPSM.Contains(stav.Id) || inAktaStavoviDis.Contains(stav.Id) || sudskaPraksaStavoviDis.Contains(stav.Id))
                                        {
                    <td>
                        @if (idStavovaPSM != null)
                                                {
                                                    isAdded = false;

                        @foreach (PropisSluzbenoMisljenje vez in vezeSluzbenoMisljenje)
                                                    {
                        @if (vez.IdStav == stav.Id)
                                                        {

                        @foreach (SluzbenoMisljenje sm in sluzbenaMisljenja)
                                                            {
                                                                if (sm.Id == vez.IdSluzbenoMisljenje)
                                                                {
                        <div>
                            @if (isAdded == false)
                                                                        {
                            <button onclick="funPrikaziLinkoveSluzbenihMisljenja(@vez.IdClan, @vez.IdStav, @vez.IdTacka)" class="fa fa-print" style="float:left"><i> Службена мишљења</i></button>
                                                                            isAdded = true;
                                                                        }
                        </div>
                                                                }
                                                            }

                                                        }
                                                    }

                                                }


                        @if (inAktaStavoviDis != null)
                                                {
                                                    isAdded = false;

                        @foreach (PropisInAkta vez in vezePropisInAkta)
                                                    {
                        @if (vez.IdStav == stav.Id)
                                                        {
                        @foreach (InAkta ina in inAkta)
                                                            {
                        @if (ina.Id == vez.IdInAkta)
                                                                {
                        <div>
                            @if (isAdded == false)
                                                                        {
                            <button onclick="funPrikaziLinkoveInAkta(@vez.IdClan, @vez.IdStav, @vez.IdTacka)" class="fa fa-print" style="float:left"><i> ИнАкта </i></button>
                                                                            isAdded = true;
                                                                        }
                        </div>
                                                                }
                                                            }
                                                        }
                                                    }
                                                }


                        @if (sudskaPraksaStavoviDis != null)
                                                {
                                                    isAdded = false;

                        @foreach (PropisSudskaPraksa vez in vezeSudskaPraksa)
                                                    {
                        @if (vez.IdStav == stav.Id)
                                                        {
                        @foreach (SudskaPraksa sp in sudskaPraksa)
                                                            {
                        @if (sp.Id == vez.IdSudskaPraksa)
                                                                {
                        <div>
                            @if (isAdded == false)
                                                                        {
                            <button onclick="funPrikaziLinkoveSudskaPraksa(@vez.IdClan, @vez.IdStav, @vez.IdTacka)" class="fa fa-print" style="float:left"><i> Судска пракса </i></button>
                                                                            isAdded = true;
                                                                        }
                        </div>
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                    </td>
                                        }
                </tr>
            </table>

            @foreach (Tacka tacka in tacke)
                                {
                                    if (tacka.IdStav == stav.Id)
                                    {
            @Html.Raw(tacka.Tekst);
                                    }
                                }

            @foreach (Alineja alineja in alineje)
                                {
                                    if (alineja.IdStav == stav.Id)
                                    {
            @Html.Raw(alineja.Tekst);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @Html.Raw(@propis.TekstPropisa)
        </div>

        <div class="glavnopolje navbar-expand" id="glavnopolje">
            @foreach (PdfFajlPropis pdf in pdfFajlovi)
            {
                <p><a href="~/TekstPropisa/CitajPdf/@pdf.Id" target="_blank">@pdf.NaslovPdf</a></p>
            }
        </div>

        <div id="poljesluzbenamisljenja" style="float:right; width:30%; background-color:gainsboro; height:auto; padding-right: 15px;">
            <div id="zaglavljesluzbenihmisljenja">
                @foreach (PropisSluzbenoMisljenje psm in vezeSluzbenoMisljenje)
                {
                    SluzbenoMisljenje sm = sluzbenaMisljenja.FirstOrDefault(x => x.Id == psm.IdSluzbenoMisljenje);

                @if (sm != null)
                    {
                        string classString = String.Format("smlinkclan_{0}stav_{1}", psm.IdClan, psm.IdStav);
                <p id="smLink_@sm.Id" class="@classString" style="visibility:hidden; display: none!important; text-align: left; text-indent: 24pt; line-height: normal; font-size: 8pt; font-family: Calibri, sans-serif;">
                    <span style="font-size: 8.0pt; font-family: Verdana, sans-serif; color: #333333;">
                        <a onclick="funShowTextSluzbenoMisljenje(@sm.Id)" href="#"> <i class="fa fa-print" style="color: white;" aria-hidden="true">@sm.Naslov</i></a>
                    </span>
                    <br />
                </p>
                    }
                }

                @foreach (PropisInAkta via in vezePropisInAkta)
                {
                    InAkta ia = inAkta.FirstOrDefault(x => x.Id == via.IdInAkta);

                    @if (ia.Id == via.IdInAkta)
                    {
                        string classString = String.Format("ialinkclan_{0}stav_{1}", via.IdClan, via.IdStav);
                        <p id="iaLink_@ia.Id" class="@classString" style="visibility:hidden; display: none!important; text-align: left; text-indent: 24pt; line-height: normal; font-size: 8pt; font-family: Calibri, sans-serif;">
                            <span style="font-size: 8.0pt; font-family: Verdana, sans-serif; color: #333333;">
                                <a onclick="funShowTextInAkta(@ia.Id)" href="#"> <i class="fa fa-print" style="color: white;" aria-hidden="true">@ia.Naslov</i></a>
                            </span>
                            <br />
                        </p>
                    }
                }

                @foreach (PropisSudskaPraksa vez in vezeSudskaPraksa)
                {
                    SudskaPraksa sp = sudskaPraksa.FirstOrDefault(x => x.Id == vez.IdSudskaPraksa);

                    @if (sp.Id == vez.IdSudskaPraksa)
                    {
                        string classString = String.Format("splinkclan_{0}stav_{1}", vez.IdClan, vez.IdStav);
                    <p id="spLink_@sp.Id" class="@classString" style="visibility:hidden; display: none!important; text-align: left; text-indent: 24pt; line-height: normal; font-size: 8pt; font-family: Calibri, sans-serif;">
                        <span style="font-size: 8.0pt; font-family: Verdana, sans-serif; color: #333333;">
                            <a onclick="funShowTextSudskaPraksa(@sp.Id)" href="#"> <i class="fa fa-print" style="color: white;" aria-hidden="true">@sp.Naslov</i></a>
                        </span>
                        <br />
                    </p>
                    }
                }
            </div>
        </div>
    </div>
    <div id="myDIV2">
        <ul>
            @foreach (Podnaslov p in podnaslovi)
            {
                <li><a href="#@p.Id">@Html.Raw(@p.PodnaslovTekst)</a></li>
            }
        </ul>
    </div>

    <div id="myDIV">
        <div>
            <ul>
                <li>Наслов:<br /> @propis.Naslov</li>
                <br />
                <li>Гласило и датум: <br /> @propis.GlasiloIdatumObjavljivanja</li>
                <br />
                <li>Врста прописа:<br /> @propis.VrstaPropisa</li>
                <br />
                <li>Доносилац:<br /> @propis.Donosilac </li>
                <br />
                <li>Ниво важења:<br /> @propis.NivoVazenja</li>
                <br />
                @if (propis.DatumStupanjaNaSnaguVerzijePropisa != null)
                {
                    <li>Датум ступања на снагу верзије прописа:<br />@Convert.ToDateTime(@propis.DatumStupanjaNaSnaguVerzijePropisa).ToString("dd/MM/yyyy") </li>
                    <br />
                }
                @if (propis.DatumPrestankaVerzije != null)
                {
                    <li>Датум престанка верзије:<br />@Convert.ToDateTime(propis.DatumPrestankaVerzije).ToString("dd/MM/yyyy") </li>
                    <br />
                }
                @if (propis.DatumObjavljivanjaVerzije != null)
                {
                    <li>Датум објављивања верзије:<br /> @Convert.ToDateTime(propis.DatumObjavljivanjaVerzije).ToString("dd/MM/yyyy")</li>
                    <br />
                }
                @if (propis.DatumObjavljivanjaOsnovnogTeksta != null)
                {
                    <li>Датум објављивања основног текста:<br />@Convert.ToDateTime(propis.DatumObjavljivanjaOsnovnogTeksta).ToString("dd/MM/yyyy")</li>
                    <br />
                }
                @if (propis.DatumStupanjaNaSnaguMeđunarodnogUgovora != null)
                {
                    <li>Датум ступања на снагу међународног уговора:<br />@Convert.ToDateTime(propis.DatumStupanjaNaSnaguMeđunarodnogUgovora).ToString("dd/MM/yyyy")</li>
                    <br />
                }
                @if (propis.DatumStupanjaNaSnaguOsnovnogTekstaPropisa != null)
                {
                    <li>Датум ступања на снагу основног текста прописа:<br />@Convert.ToDateTime(propis.DatumStupanjaNaSnaguOsnovnogTekstaPropisa).ToString("dd/MM/yyyy") </li>

                    <br />
                }
                @if (propis.DatumPrestankaVazenjaPropisa != null)
                {
                    <li>Датум престанка важења прописа:<br />@Convert.ToDateTime(propis.DatumPrestankaVazenjaPropisa).ToString("dd/MM/yyyy")</li>
                    <br />
                }
                @if (propis.DatumPocetkaPrimene != null)
                {
                    <li> Датум почетка примене:<br /> @Convert.ToDateTime(propis.DatumPocetkaPrimene).ToString("dd/MM/yyyy")</li>
                    <br />
                }
                @if (propis.PravniOsnovZaDonosenjaPropisa != null)
                {
                    <li>Правни основ за доношење прописа:<br /> @propis.PravniOsnovZaDonosenjaPropisa </li>
                    <br />
                }
                @if (propis.NormaOsnovaZaDonosenje != null)
                {
                    <li>Норма основа за доношење:<br /> @propis.NormaOsnovaZaDonosenje</li>
                    <br />
                }
                @if (propis.PropisKojiJePrestaoDaVazi != null)
                {
                    <li>Пропис које је престао да важи:<br /> @propis.PropisKojiJePrestaoDaVazi</li>
                    <br />
                }
                @if (propis.NormaOsnovaZaPrestanakVazenja != null)
                {
                    <li>Норма основа за престанак важења:<br /> @propis.NormaOsnovaZaPrestanakVazenja</li>
                    <br />
                }
                @if (propis.IstorijskaVerzijaPropisa != null)
                {
                    <li>Историјска верзија прописа:<br /> @propis.IstorijskaVerzijaPropisa</li>
                    <br />
                }
            </ul>
        </div>
    </div>

    <div id="myDIV1">
        <div>
            <h3 style="font-size:17px; color:#565682">
                Документи који су у вези са овим прописом:
            </h3>
            <br />
            <h4 style="font-size:15px; color:#565682"><i>Службена мишљења:</i></h4>
            <ul>
                @foreach (SluzbenoMisljenje sm in sluzbenaMisljenja)
                {
                    <li><a style="font-size:14px; color:#565682;font-weight:600; text-transform: capitalize; " href="~/SluzbenaMisljenja/Prikaz/@sm.Id">@sm.Naslov</a></li>
                    <style>
                        .moja ul li a:first-letter {
                            text-transform: uppercase
                        }
                    </style>
                }
            </ul>
            <br />
            <h4 style="font-size:15px; color:#565682"><i>ИнАкта:</i></h4>
            <ul>
                @foreach (InAkta i in inAkta)
                {
                    <li><a style="font-size:14px; color:#565682; text-transform: capitalize;" href="~/InAkta/Prikaz/@i.Id">@i.Naslov</a></li>
                    <style>
                        .moja ul li a:first-letter {
                            text-transform: uppercase
                        }
                    </style>
                }
            </ul>
            <br />
            <h4 style="font-size:15px; color:#565682"><i>Судска пракса:</i></h4>

            @foreach (SudskaPraksa sp in sudskaPraksa)
            {

                <li><a style="font-size:14px; color:#565682; text-transform: capitalize;" href="~/SudskaPraksa/Prikaz/@sp.Id">@sp.Naslov</a></li>
                <style>
                    .moja ul li a:first-letter {
                        text-transform: uppercase
                    }
                </style>
            }
        </div>
    </div>
</section>