@{
    ProsvetniPropis propis = (ProsvetniPropis)ViewBag.Propis;
    SluzbenoMisljenje sluzbenoMisljenje = (SluzbenoMisljenje)ViewBag.SluzbenoMisljenje;
    List<PodnaslovPP> podnaslovi = ViewBag.Podnaslovi;
    List<ClanPP> clanovi = ViewBag.Clanovi;
    List<StavPP> stavovi = ViewBag.Stavovi;
    List<TackaPP> tacke = ViewBag.Tacke;
    List<AlinejaPP> alineje = ViewBag.Alineje;
}

<div class="row">
    <div class="col-md-6">
        <section>
            <div class="glavnopolje " style="width:93%; height:90vh;overflow:scroll; padding:15px;">
                <h1 style="width:100%;
             margin: 0 auto;

             text-align: center;">
                    @propis.Naslov
                </h1><br />
                <br />
                <h4 style=" justify-content:center;
        text-align: center;">

                    @propis.GlasiloIDatumObjavljivanja
                </h4>
                @foreach (PodnaslovPP podnaslov in podnaslovi)
                {
                    @Html.Raw(podnaslov.PodnaslovTekst)
                    @foreach (ClanPP clan in clanovi)
                    {
                        if (clan.IdPodnaslov == podnaslov.Id)
                        {

                            <p id="@clan.Id" style="text-align: center; text-indent: 24pt; line-height: normal; background: white; font-size: 13pt; font-family: Calibri, sans-serif;">
                                <span style="font-size: 9.0pt; font-family: Verdana, sans-serif; color: #333333;">
                                    @Html.Raw(clan.Naziv)
                                </span><br />
                            </p>
                            @foreach (StavPP stav in stavovi)
                            {
                                if (stav.IdClan == clan.Id)
                                {
                                    @Html.Raw(stav.Tekst)

                                    @foreach (TackaPP tacka in tacke)
                                    {
                                        if (tacka.IdStav == stav.Id)
                                        {
                                            @Html.Raw(tacka.Tekst);
                                        }
                                    }

                                    @foreach (AlinejaPP alineja in alineje)
                                    {
                                        if (alineja.IdStav == stav.Id)
                                        {
                                            @Html.Raw(alineja.Tekst);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            </div>
        </section>
    </div>
    <style>
    </style>
    <div class="col-md-6 border-danger" style="background-color: white; margin-top: 0.5%; border: 2px yellow; height: 90vh; overflow: scroll">
        <div class="container">
            <div style="width:93%; margin-left:2%; margin-right:0px; border:1px yellow;">
                @Html.Raw(sluzbenoMisljenje.Tekst)
            </div>
        </div>
    </div>
</div>