@{
    List<Vest> vesti = ViewBag.Vesti;
}
<div class="container">
    <div>
        <h1>
            Архива вести <br>
        </h1>

        <table class="table float-lg-right" style="margin-top:4%; width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Наслов вести")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in vesti)
                {
                    <tr>
                        <td><div>
                            <span>@v.DanUMesecu<a>.</a> @v.Mesec<a>.</a> @v.Godina<a>.</a></span>
                            </div>
                            <a href="~/Home/JednaVest/@v.Id">@v.Naslov</a>
                        </td>
                    </tr>
                }                    
            </tbody>
        </table>
    </div>
</div>