@model  Tuple<IQueryable<PrasvnaBazaKlijent.Models.Propis>, IQueryable<PrasvnaBazaKlijent.Models.ProsvetniPropis>, IQueryable<PrasvnaBazaKlijent.Models.CasopisNaslov>, IQueryable<PrasvnaBazaKlijent.Models.InAkta>, IQueryable<PrasvnaBazaKlijent.Models.SluzbenoMisljenje>, IQueryable<PrasvnaBazaKlijent.Models.SudskaPraksa>, IQueryable<PrasvnaBazaKlijent.Models.PrimeriKnjizenja>>
@using PrasvnaBazaKlijent.Models;

@{
    ViewData["Title"] = "Index";

    IQueryable<ProsvetniPropis> prosvetniPropiisi = (IQueryable<ProsvetniPropis>)ViewBag.ProsvetniPropisi;
    IQueryable<Propis> ostaliPropisi = (IQueryable<Propis>)ViewBag.OstaliPropisi;
    IQueryable<ProsvetniPropis> ostaliProsveetniPropisi = (IQueryable<ProsvetniPropis>)ViewBag.OstaliProsvetniPropisi;
    IQueryable<CasopisNaslov> casopisi = (IQueryable<CasopisNaslov>)ViewBag.Casopisi;
    IQueryable<InAkta> inAkta = (IQueryable<InAkta>)ViewBag.InAkta;
    IQueryable<SluzbenoMisljenje> sluzbenaMisljenja = (IQueryable<SluzbenoMisljenje>)ViewBag.SluzbenaMisljenja;
    IQueryable<SudskaPraksa> sudskePrakse = (IQueryable<SudskaPraksa>)ViewBag.SudskePrakse;
    IQueryable<PrimeriKnjizenja> primeriKnjizenja = (IQueryable<PrimeriKnjizenja>)ViewBag.PrimeriKnjizenja;

    string[] reci = ViewBag.Reci;
}
<style>
</style>
<section>
    <div class="glavnopolje navbar-expand">
        <h1>
           ПРОНАЂЕНИ ПОЈМОВИ <br>
        </h1>

        <table class="table float-lg-right" style="margin-top:4%; width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Наслов")
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Item1 != null)
                {
                @foreach (var item in Model.Item1)
                    {
                @if (item.DatumPrestankaVazenjaPropisa == null && item.DatumPrestankaVerzije == null)
                        {

                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/TekstPropisa/Index/@item.Id" class="nav-link"><strong>@Html.DisplayFor(modelItem => item.Naslov)</strong> <span style="margin-left:10px;"></span> <i>@Html.DisplayFor(modelItem => item.GlasiloIdatumObjavljivanja)</i></a>
                    </td>
                </tr>
                        }
                        else
                        {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px; color:#525A65!important; " id="listahover">
                        <a href="~/TekstPropisa/Index/@item.Id" class="nav-link" style="color:darkred"><strike><strong>@Html.DisplayFor(modelItem => item.Naslov)</strong> <span style="margin-left:10px;"></span> <i>@Html.DisplayFor(modelItem => item.GlasiloIdatumObjavljivanja) | ПРЕСТАО СА ВАЖЕЊЕМ</i></strike></a>
                    </td>
                </tr>
                        }
                    }
                }

                @if (ostaliPropisi != null)
                {
                @foreach (Propis op in ostaliPropisi)
                    {
                @if (op.DatumPrestankaVazenjaPropisa == null && op.DatumPrestankaVerzije == null)
                        {

                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/TekstPropisa/Index/@op.Id" class="nav-link"><strong>@op.Naslov</strong> <span style="margin-left:10px;"></span> <i>@op.GlasiloIdatumObjavljivanja</i></a>
                    </td>
                </tr>
                        }
                        else
                        {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/TekstPropisa/Index/@op.Id" class="nav-link" style="color:darkred"><strike><strong>@op.Naslov</strong> <span style="margin-left:10px;"></span> <i>@op.GlasiloIdatumObjavljivanja | ПРЕСТАО СА ВАЖЕЊЕМ</i></strike></a>
                    </td>
                </tr>
                        }
                    }
                }

                @if (Model.Item2 != null)
                {
                @foreach (var opp in Model.Item2)
                    {
                @if (opp.DatumPrestankaVazenjaPropisa == null && opp.DatumPrestankaVerzije == null)
                        {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/TekstPropisaPP/Index/@opp.Id" class="nav-link"><strong>@opp.Naslov</strong> | <span style="margin-left:10px;"><i>@opp.GlasiloIDatumObjavljivanja</i></span></a>
                    </td>
                </tr>
                        }
                        else
                        {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/TekstPropisaPP/Index/@opp.Id" class="nav-link" style="color:darkred"><strike><strong>@opp.Naslov</strong> | <span style="margin-left:10px;"><i>@opp.GlasiloIDatumObjavljivanja</i></span></strike></a>
                    </td>
                </tr>
                        }
                    }
                }

                @if (ostaliProsveetniPropisi != null)
                {
                @foreach (ProsvetniPropis pp in ostaliProsveetniPropisi)
                    {
                @if (pp.DatumPrestankaVazenjaPropisa == null && pp.DatumPrestankaVerzije == null)
                        {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/TekstPropisaPP/Index/@pp.Id" class="nav-link"><strong>@pp.Naslov</strong> <span style="margin-left:10px;"></span> <i>@pp.GlasiloIDatumObjavljivanja</i></a>
                    </td>
                </tr>
                        }
                        else
                        {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/TekstPropisaPP/Index/@pp.Id" class="nav-link" style="color:darkred"><strike><strong>@pp.Naslov</strong> <span style="margin-left:10px;"></span> <i>@pp.GlasiloIDatumObjavljivanja | ПРЕСТАО СА ВАЖЕЊЕМ</i></strike></a>
                    </td>
                </tr>
                        }
                    }
                }

                @if (Model.Item3 != null)
                {
                @foreach (var cas in Model.Item3)
                    {
                @if (cas.IdPodrubrika >= 0 && cas.IdOblast == 2)
                        {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/PravniSavetnik/Prikaz/@cas.Id" class="nav-link"><strong>@cas.Naslov</strong></a>
                    </td>
                </tr>
                        }
                        else if (cas.IdPodrubrika >= 0 && cas.IdOblast == 1)
                        {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/BudzetskoRacunovodstvo/Prikaz/@cas.Id" class="nav-link"><strong>@cas.Naslov</strong></a>
                    </td>
                </tr>
                        }
                        else
                        {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/PodsetnikZaDirektore/Prikaz/@cas.Id" class="nav-link"><strong>@cas.Naslov</strong></a>
                    </td>
                </tr>
                        }
                    }
                }
                @if (Model.Item4 != null)
                {
                @foreach (var ia in Model.Item4)
                    {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/InAkta/Prikaz/@ia.Id" class="nav-link"><strong>@ia.Naslov</strong></a>
                    </td>
                </tr>
                    }
                }
                @if (Model.Item5 != null)
                {
                @foreach (var sm in Model.Item5)
                    {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/SluzbenaMisljenja/Prikaz/@sm.Id" class="nav-link"><strong>@sm.Naslov</strong></a>
                    </td>
                </tr>
                    }
                }
                @if (Model.Item6 != null)
                {
                @foreach (var sp in Model.Item6)
                    {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/SudskaPraksa/Prikaz/@sp.Id" class="nav-link"><strong>@sp.Naslov</strong> | <span style="margin-left:10px;"><i>@sp.Podnaslov</i></span> | <span style="margin-left:10px;"><i>@sp.Datum</i></span></a>
                    </td>
                </tr>
                    }
                }
                @if (Model.Item7 != null)
                {
                @foreach (var pk in Model.Item7)
                    {
                <tr style="margin-left:0px;">
                    <td style="margin-left:0px">
                        <a href="~/PrimeriKnjizenja/Prikaz/@pk.Id" class="nav-link"><strong>@pk.Naslov</strong></a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>