@model IEnumerable<PrasvnaBazaKlijent.Models.SluzbenoMisljenje>
@{
    obrazovn_AdminPanelContext _context = new obrazovn_AdminPanelContext();
    int p = ViewBag.Podrubrika;
   
}
<style>

    .glavnopolje {
        width:90%;
        margin-left: 5%;
        box-shadow: 0 1px 4px 0;
    }
        .glavnopolje h1 {
            font-style: normal;
            width: 100%;
            margin-left: 0px !important;
            text-align: center;
            float: left;
            font-size: 35px;
        }
</style>
<script>
    document.getElementById("SluzbenaMisljenja").style.backgroundColor = "#565682";
    document.getElementById("SluzbenoMisljenjeR @p").style.backgroundColor = "#60608a";
    @*document.getElementById("SluzbenoMisljenjeP @p").style.backgroundColor = "#73739c";*@

    //SLOVA
    document.getElementById("SluzbenaMisljenjaP").style.color = "#fff";
    document.getElementById("SluzbenaMisljenjaRP @p").style.color = "#fff";
    @*document.getElementById("SluzbenaMisljenjaPP @p").style.color = "#fff";*@
</script>
<section>
    <div class="glavnopolje navbar-expand">
        <h1 style="width:100%; text-align:center">
            СЛУЖБЕНО МИШЉЕЊЕ <br>
        </h1>

        <table class="table float-lg-right" style="margin-top:4%; width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Наслов службеног мишљења")
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="margin-left:0px;">
                        <td style="margin-left:0px">
                            <a href="~/SluzbenaMisljenja/Prikaz/@item.Id" class="nav-link">@Html.DisplayFor(modelItem => item.Naslov) | <i>@Html.DisplayFor(modelItem => item.Podnaslov)</i> | <i>@Html.DisplayFor(modeltem => item.DatumDonosenja)</i></a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>


    </div>
</section>