@model PrasvnaBazaKlijent.Models.SluzbenoMisljenje
@{
    List<PropisSluzbenoMisljenje> vezePropis = ViewBag.VezePropis;
    List<Propis> propisi = ViewBag.Propisi;
    List<ProsvetniPropis> prosvetniPropisi = ViewBag.ProsvetniPropis;
    List<int> idPropisDis = ViewBag.IdPropisDis;
}
<style>
    .glavnopolje {
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
        width: 65;
        box-shadow: 0 1px 4px 0;
    }
    .glavnopolje img{
        width:100%;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        margin-left: 10px;
        margin-top: 5px;
        outline: none;
        scroll-behavior: smooth;
        vertical-align: baseline;
    }

    .MsoNormal span {
        display: inline;
    }
</style>
<style type="text/css">


    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    body {
        min-height: 100vh;
    }

    .action {
        position: fixed;
        bottom: 50px;
        left: 97%;
        top: 50%;
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    }

        .action span {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            font-size: 2em;
            transition: .3s ease-in-out;
        }

        .action.active span {
        }

        .action ul {
            position: absolute;
            bottom: -10%;
            right: 3%;
            overflow: scroll;
            background: #fff;
            min-width: 400px;
            padding: 20px;
            border-radius: 20px;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            list-style-type: none;
        }

        .action.active ul {
            bottom: -310px;
            right: 60px;
            height: 700px;
            width: 450px;
            opacity: 1;
            visibility: visible;
            border: 1px gray;
            overflow: scroll;
            transition: .3s;
            list-style-type: none;
            background-color: #F0F0F0;
        }

        .action ul li span {
            list-style: none;
            text-decoration: none;
            display: flex;
            text-align: left;
            font-weight: normal;
            font-size: 15px;
            justify-content: flex-start;
            align-items: center;
            padding: 7px 0;
            font-style: normal;
        }

    li p {
        margin: 0cm 0cm 0cm;
    }

    .action ul li:hover {
        font-weight: 600;
    }

    .action ul li:not(:last-child) {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .action ul li img {
        margin-right: 15px;
        opacity: .2;
        transform: scale(.7);
    }

    .action ul li:hover img {
        opacity: .8;
        transform: scale(1.0);
    }


    .action1 {
        position: fixed;
        bottom: 50px;
        left: 97%;
        top: 60%;
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    }

        .action1 span {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            font-size: 2em;
            transition: .3s ease-in-out;
        }

        .action1.active1 span {
            transform: rotate(360deg);
        }

            .action1.active1 span i {
                margin-right: 10px;
            }

    .fa-print:before {
        margin-right: 10px;
    }

    .fa-save:before {
        margin-right: 10px;
    }

    .fa-fingerprint:before {
        margin-right: 10px;
    }

    .action1 ul {
        position: absolute;
        bottom: -10%;
        background: #fff;
        min-width: 400px;
        padding: 20px;
        border-radius: 20px;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    .action1.active1 ul {
        bottom: 65px;
        opacity: 1;
        right: 120%;
        visibility: visible;
        border: 1px gray;
        background-color: #F0F0F0;
        transition: .3s;
    }

    .action1 ul li {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 7px 0;
    }

        .action1 ul li:hover {
            font-weight: 600;
        }

        .action1 ul li:not(:last-child) {
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        .action1 ul li img {
            margin-right: 15px;
            opacity: .2;
            transform: scale(.7);
        }

        .action1 ul li:hover img {
            opacity: .8;
            transform: scale(1.0);
        }







    .action2 {
        position: fixed;
        bottom: 50px;
        left: 97%;
        top: 40%;
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        opacity: 100%;
    }

        .action2 span {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            font-size: 2em;
            transition: .3s ease-in-out;
        }

        .action2.active2 span {
            transform: rotate(360deg);
        }

        .action2 ul {
            position: absolute;
            bottom: 10px;
            right: 5%;
            background: #fff;
            min-width: 250px;
            padding: 20px;
            border-radius: 20px;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
        }

        .action2.active2 ul {
            bottom: -270px;
            right: 60px;
            width: 450px;
            opacity: 1;
            visibility: visible;
            border: 1px gray;
            transition: .3s;
            background-color: #F0F0F0;
        }

        .action2 ul li {
            list-style: none;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 7px 0;
        }

            .action2 ul li:hover {
                font-weight: 600;
            }

            .action2 ul li:not(:last-child) {
                border-bottom: 1px solid rgba(0,0,0,0.1);
            }

            .action2 ul li img {
                margin-right: 15px;
                opacity: .2;
                transform: scale(.7);
            }

            .action2 ul li:hover img {
                opacity: .8;
                transform: scale(1.0);
            }

    .moja ul li {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 7px 0;
    }
    .sidebarmoj {
        height: 100%;
        position: fixed;
        z-index: 1;
        padding-right: 10px;
        top: 0;
        right: 0;
        background-color: #565682;
        overflow-x: hidden;
        padding-top: 65px;
        z-index: 1;
    }

        /* Style sidebar links */
        .sidebarmoj a {
            padding: 6px 4px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
        }

            /* Style links on mouse-over */
            .sidebarmoj a:hover {
                color: #f1f1f1;
            }

    /* Style the main content */
    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        padding: 0px 10px;
    }

    #myDIV {
        width: 20%;
        height: 90vh;
        float: right;
        list-style: none;
        padding: 10px;
        border-radius: 5px;
        top: 73px;
        display: none;
        position: fixed;
        box-shadow: 0 1px 4px 0;
        right: 30px;
        overflow: scroll;
    }

        #myDIV li {
            list-style: none;
            font-family: InfluBG;
            text-transform: capitalize;
            padding-right: 20px;
        }

    #myDIV1 {
        width: 20%;
        height: 90vh;
        float: right;
        list-style: none;
        padding: 10px;
        border-radius: 5px;
        top: 73px;
        display: none;
        position: fixed;
        box-shadow: 0 1px 4px 0;
        right: 30px;
        overflow: scroll;
    }

        #myDIV1 li {
            list-style: none;
            font-family: InfluBG;
            text-transform: capitalize;
            padding-right: 20px;
        }

    #myDIV2 {
        width: 20%;
        height: 90vh;
        float: right;
        list-style: none;
        padding: 10px;
        border-radius: 5px;
        top: 73px;
        display: none;
        position: fixed;
        box-shadow: 0 1px 4px 0;
        right: 30px;
        overflow: scroll;
    }

        #myDIV2 li {
            list-style: none;
            font-family: InfluBG;
            text-transform: capitalize;
            padding-right: 20px;
        }

            #myDIV2 li p {
                list-style: none;
                font-family: InfluBG !important;
                text-transform: initial !important;
                font-weight: 100;
                text-align: left !important;
                padding-right: 20px;
                font-style: normal !important;
            }

            #myDIV2 li span {
                list-style: none;
                font-family: InfluBG !important;
                text-transform: initial !important;
                font-weight: 100;
                text-align: left !important;
                padding-right: 20px;
                font-style: normal !important;
            }
</style>
<script type="text/javascript">
    function myFunction() {
        var x = document.getElementById("myDIV");
        var z = document.getElementById("glavnopolje");
        if (x.style.display === "block") {
            x.style.display = "none";
            z.setAttribute('style', 'width:90%');
        } else {
            x.style.display = "block";
            z.setAttribute('style', 'width:70%');
            document.getElementById('myDIV1').style.display = "none";
            document.getElementById('myDIV2').style.display = "none";
            document.getElementById('myDIV3').style.display = "none";
            //documnent.getElementById('glavnopolje'.style.display=)
        }
    }

    function myFunction1() {
        var x = document.getElementById("myDIV1");
        var z = document.getElementById("glavnopolje");
        if (x.style.display === "block") {
            x.style.display = "none";
            z.setAttribute('style', 'width:90%');
        } else {
            x.style.display = "block";
            z.setAttribute('style', 'width:70%');
            document.getElementById('myDIV').style.display = "none";
            document.getElementById('myDIV2').style.display = "none";
            document.getElementById('myDIV3').style.display = "none";
        }
    }

    function myFunction2() {
        var x = document.getElementById("myDIV2");
        var z = document.getElementById("glavnopolje");
        if (x.style.display === "block") {
            x.style.display = "none";
            z.setAttribute('style', 'width:90%');
        } else {
            x.style.display = "block";
            z.setAttribute('style', 'width:70%');
            document.getElementById('myDIV1').style.display = "none";
            document.getElementById('myDIV').style.display = "none";
            document.getElementById('myDIV3').style.display = "none";
        }
    }
    function myFunction3() {
        var x = document.getElementById("myDIV3");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
            document.getElementById('myDIV1').style.display = "none";
            document.getElementById('myDIV2').style.display = "none";
            document.getElementById('myDIV').style.display = "none";
        }
    }
</script>

<section>
    <div class="sidebarmoj">
        <a onclick="myFunction()" href="#home"><i class="far fa-lightbulb" style="padding-left: 4px; color: white;" aria-hidden="true"></i></a>
        <a onclick="myFunction1()" href="#home"><i class="fa fa-link" style="color: white;" aria-hidden="true"></i></a>
        <a onclick="myFunction3()" href="~/SluzbenaMisljenja/Stampaj/@Model.Id"><i class="fa fa-print" style="color: white;" aria-hidden="true"></i></a>
    </div>
    <div class="glavnopolje" id="glavnopolje" style="width:90%;">
        <p><a href="~/SluzbenaMisljenja/Index/@Model.IdRubrikaSm">Врати се на списак службених мишљења у рубрици</a><a style="float:right">За претрагу текста користити: CTRL+F</a></p>
        @Html.Raw(Model.Tekst)
    </div>
    
    <div id="myDIV">
        <ul>
            <li>Наслов: @Model.Naslov</li>
            <br />
            <li>Поднаслов: @Model.Podnaslov</li>
            <br />
            <li>Број:  @Model.Broj</li>
            <br />
            <li>Датум доношења: @Model.DatumDonosenja</li>
            <br />
            <li>Напомена: @Model.Napomena</li>
        </ul>
    </div>
    <div id="myDIV1">
        <h3 style="font-size:17px; color:#565682">
            Прописи који су у вези са овим документом:
        </h3>
        <br />
        <h4 style="font-size:15px; color:#565682"><i>Прописи:</i></h4>
        <ul>
            @foreach (Propis sm in propisi)
            {

                foreach (PropisSluzbenoMisljenje v in vezePropis)
                {
                    if (v.IdPropis == sm.Id)
                    {
                        <li><a style="font-size:14px; color:#565682;font-weight:600; text-transform: lowercase; " href="/./TekstPropisa/VezaPropisSM/@sm.Id/@v.IdSluzbenoMisljenje/#@v.IdStav">@sm.Naslov </a></li>
                        @*<option value="> @sp.Naslov</option>*@
                        <style>
                            .moja ul li a:first-letter {
                                text-transform: uppercase
                            }
                        </style>
                    }
                }
            }
        </ul>
        <br />
        <br />
        <h4 style="font-size:15px; color:#565682"><i>Просветни Прописи:</i></h4>
        <ul>
            @foreach (ProsvetniPropis pp in prosvetniPropisi)
            {
                <li><a style="font-size:14px; color:#565682;font-weight:600; text-transform: lowercase; " href="~/TekstPropisaPP/Index/@pp.Id">@pp.Naslov</a></li>
                <style>
                    .moja ul li a:first-letter {
                        text-transform: uppercase
                    }
                </style>
            }
        </ul>
    </div>
    <div id="myDIV2">
    </div>
</section>